<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Facturas</title>
</head>
<body>
    <h1>Lista de Facturas</h1>
    <table border="1">
        <tr>
            <th>Número de Factura</th>
            <th>Total</th>
            <th>Total Abonos</th>
            <th>Saldo Pendiente</th>
            <th>Fechas de Abonos</th>
            <th>Acciones</th>
        </tr>
        {% for factura in facturas %}
        <tr>
            <td>{{ factura.numero_factura }}</td>
            <td>{{ factura.total }}</td>
            <td>{{ factura.total_abonos }}</td>
            <td>{{ factura.saldo_pendiente_calculado }}</td>
            <td>
                <ul>
                    {% for fecha in factura.abonos_fechas %}
                    <li>{{ fecha }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <form action="{% url 'crear_abono' id=factura.id %}" method="get">
                    <button type="submit">Generar Abono</button>
                </form>
                <a href="{% url 'factura_detalle' factura.id %}"><button>Ver Detalles</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
